*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 800px;
  color: #fff;
  margin: auto;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1150px;
  block-size: 543px;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  overflow: hidden;
}

.result {
  flex: 0 1 711px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.result__video-container {
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  inline-size: 100%;
  block-size: 54px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
}
.search-form__fieldset:first-of-type {
  inline-size: 225px;
}
.search-form__fieldset:last-of-type {
  inline-size: 212px;
  padding-block-end: 2px;
}
.search-form__fieldset-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}

.search-form__label {
  cursor: pointer;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  border: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label-text {
  appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.search-form__textfield {
  margin-block-start: 6px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  inline-size: 100%;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:hover {
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  appearance: none;
  border: none;
  outline: none;
  outline-offset: 0;
}

.search-form__textfield::placeholder {
  padding-inline-start: 2px;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.search-form__checkbox-list {
  margin-block-start: 4px;
  padding-block-end: 6px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  vertical-align: middle;
  margin-inline-end: 2px;
  position: relative;
}
.search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #fff;
  transition: 0.1s ease-in;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.button {
  block-size: 34px;
  font-family: inherit;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  outline: 1px solid #fff;
  border: 1px solid #fff;
  background-color: #545050;
}

.button:focus-visible {
  border: 1px solid #fff;
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__submit-button {
  inline-size: 194px;
}
.content__details {
  block-size: 100%;
  inline-size: 398px;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 20px;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.content__list-item:not(:last-of-type)  {
  margin-block-end: 30px;
}
.content__card-link_current {
  background-color: #545050;
}
.content__list::-webkit-scrollbar {
  inline-size: 5px;
  block-size: 8px;
  background-color: #000;
}
.content__list::-webkit-scrollbar-thumb {
  background-color: #545050;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
.content__video-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  outline: none;
}
.content__video-card:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}
.content__video-card:focus-visible {
  appearance: none;
  outline: 1px solid #fff;
  border: 1px solid #fff;
}
.content__video-card-description-container {
  inline-size: 200px;
  block-size: 100%;
  flex: 1 1 200px;
  text-align: left;
}

.content__card-link {
  text-decoration: none;
  display: block;
  margin: 2px;
}
.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}
.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  flex: 0 0 auto;
}
.content__video-card img {
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 398px;
}
